* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-size: 25px;
}

.top {
  background-color: #3c3a39;
  width: 375px;
  height: 92px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.status {
  height: 56px;
}

.status,
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status div {
  margin: 16px 0 24px 21px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  width: 54px;
  height: 16px;
}

.status img {
  margin: 17.33px 14.67px 34.33px 0;
  width: 66.66px;
  height: 11.34px;
}

.menu div {
  margin: 0 0 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  width: 140px;
  height: 24px;
}

.menu img {
  margin: 0 35px 18px 0;
  width: 18px;
  height: 12px;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  background-color: #1c1a19;
}

.title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 24px 0 24px;
  width: 327px;
  height: 124px;
}

.profession {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  width: 327px;
  height: 27px;
  margin: 12px 24px 0 24px;
}

.headline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 24px 0 24px;
}

.media {
  list-style: none;
  display: flex;
  width: 200px;
  height: 40px;
  margin: 12px 0 151px 24px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.media li {
  width: 20px;
  height: 20px;
}

.container {
  position: absolute;
}

.image {
  position: absolute;
  left: 64.7%;
  top: 410px;
  bottom: -11.63%;
}
